@page "/my-gallery"

@using SomeDataServices

@inject RickAndMortyService SomeDataServices

@rendermode InteractiveAuto


<h3>MyGallery</h3>

@code {
    private string personajesJson;

    protected override async Task OnInitializedAsync()
    {
        //var personajesService = new RickAndMortyService(HttpClient);
        //personajesJson = await personajesService.ObtenerPersonajes();
    }
}

@if (!string.IsNullOrEmpty(personajesJson))
{
    <pre>@personajesJson</pre>
}
else
{
    <p>Error al obtener los datos de la API.</p>
}

